
/* Style pour l'en-tête et la barre latérale */
.grid-container {
  display: grid;
  grid-template-columns: 250px 1fr; /* Barre latérale de 250px et le reste de l'espace disponible */
  grid-gap: 20px;
  height: 100vh;
}

/* Style pour l'en-tête et la barre latérale */
.task-manager {
  padding: 20px;
}

/* Style pour le formulaire */
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  grid-column: 2 / span 1; /* Le formulaire occupe la deuxième colonne */
}

/* Style pour les champs de formulaire */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Style pour le bouton */
button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

/* Style pour le bouton au survol */
button:hover {
  background-color: #0056b3;
}

/* Style pour les options du sélecteur */
option {
  font-size: 16px;
}