.taskItem{
  margin: auto;
  }
  
  .taskItem h2{
    font-weight: 400;
    text-transform: uppercase;
  }
  
  .taskItem p{
    margin-top: 5px;
    font-size: 1px;
    max-height: 300px;
    line-height: 25px;
    overflow-y: auto;
    color: hsl(210, 20%, 25%);
  }
  /* Styles pour la modale */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Pour s'assurer qu'il s'affiche au-dessus des autres éléments */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  font-size: 24px;
  border: none;
  background: transparent;
}
.table-container {
  grid-area: main; /* Pour occuper la zone "main" du grid-container */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre horizontalement */
  border-collapse: collapse;
  width: auto; /* Ajustez la largeur comme vous le souhaitez */
  margin: 0 auto; /* Pour centrer le tableau horizontalement */
}

h2.titre-user {
  margin-top: 20px; /* Espace entre le titre et le tableau */
}



/* Styles pour le tableau (th, td, etc.) */
table {
  
  grid-area: main; /* Pour occuper la zone "main" du grid-container */
}

th, td {

  width: 100px; /* Ajustez la largeur comme vous le souhaitez */
  padding: 50px;
  border: 1px solid #ccc;
}

th {
  background-color: #ecd5d5;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #0ac4f3;
}

tr{
  background-color: #ade6f5;
}
