

.task-form {
  width: 100%; /* Assurez-vous que le formulaire occupe toute la largeur de son conteneur */
  padding: 100px;
  margin-right: 350px;
  display: grid;
  grid-template-columns: repeat(2, 48%); /* Ajusté pour donner plus d'espace entre les colonnes */
  gap: 4%; /* Espace ajusté */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.form-section {
  display: flex;
  align-items: center;
  background-color: #fdfdff;
  padding: 10px 20px; /* Ajout de padding pour l'espacement */
  margin-bottom: 10px; /* Ajout d'une marge pour la séparation entre les sections */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre subtile pour la profondeur */
}


.icon-container {
  width: 200px; /* Largeur du conteneur d'icônes */
  height: 100px;
  margin-right: 10px;
  /* Vous pouvez définir une couleur de fond par défaut pour les tests, retirez-la plus tard */
  background-color: #f0e8e8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
}

select {
  width: 150%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
select:focus,
textarea:focus {
  border-color: #007BFF;
  outline: none;
}

.button-container {
  grid-column: span 2; /* Le bouton s'étendra sur les deux colonnes */
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
